.thumbnail_pic img {
    width: 100%;;
    height: auto;
    border: solid 1px black;
}

.thumbnail_div {
    padding-left: 2px;
    padding-right: 2px;
}

.featured_pic img {
    width: 100%;
    height: auto;
    padding: 2px;
    float: left;
    border: solid 1px black;
    background-color: #ffffff;
}

.featured_pic {
    padding-left: 5px;
    padding-right: 5px;
}

.product_details {
    padding-left: 5px;
    text-align: left;
}

.product_details p {
    margin-bottom: 5px;
}

.buyTable tbody tr td input {
    width: 40px;
    line-height: 20px;
}

.buyTable tbody tr th label {
    margin-bottom: 0px;
    margin-right: 5px;
}

.buyQuantityField {
    margin-right: 20px;
}

