<%inherit file="/homepage/templates/base.htm" />
<%! from catalog import models as cmod 
%>

<%block name="site_menu">
    <li class="nav-item">
        <a class="nav-link ${ 'active' if request.dmp.page == 'contact' else '' }" href="/contact/">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link ${ 'active' if request.dmp.page == 'about' else '' }" href="/about/">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link ${ 'active' if request.dmp.page == 'index' else '' }" href="/catalog/index/">Catalog</a>
    </li>
</%block>
<%block name="site_left">
    <div class='btn btn-primary'>Filter Products</div>
    <ul>
        %for c in cmod.Category.objects.all():
            <li class='filter_list'><a class='filter_list' href='/catalog/index/${c.id}'>${c.name}</a></li>
            <br />
        %endfor
            <li class='filter_list'><a class='filter_list' href='/catalog/index/'>All Products</a></li>
    </ul>
</%block>