<%inherit file="app_base.htm" />

<%block name="title">
    Products
</%block>
<%block name="site_center">
    <div class="container site_center"> 
        <h1 class="text-center">Products</h1>
        <div class="row" id="catalog">
            %for product in products:
                <span class="col-3 product-container" data-product-id="${ product.id }"></span>
            %endfor
        </div>
    </div>
    %if category is None:
    <div class="flex-box justify-content-center">
        <a href="/catalog/index/0/${ page - 1 }" class="previous round ${ 'disabled' if (page <= 1) else '' }">&#8249;</a>
        <a href="/catalog/index/0/${ page + 1 }" class="next round ${ 'disabled' if (page >= numpages) else '' }">&#8250;</a>
    </div>
    %else:
    <div class="flex-box justify-content-center">
        <a href="/catalog/index/${ category.id }/${ page - 1 }" class="previous round ${ 'disabled' if (page <= 1) else '' }">&#8249;</a>
        <a href="/catalog/index/${ category.id }/${ page + 1 }" class="next round ${ 'disabled' if (page >= numpages) else '' }">&#8250;</a>
    </div>
    %endif  

    
</%block>
