<%inherit file="app_base.htm" />

<%block name="title">${ product.name }</%block>

<%block name="site_center">
    <div class="container row">
        <div class="col-1 thumbnail_div">
            %for url in thumbnails:
                <div class="thumbnail_pic">
                    <img src="${ url }" alt="${ product.name } Image" />
                </div>
            %endfor
        </div>
        <div class="col-4 featured_pic">
            <img src="${ featured }" alt="${ product.name } Image" />
        </div>
        <div class="col-7 product_details">
            <h1>${product.name}</h1>
            <p><b>Price:</b> ${product.price}</p>
            <p><b>Quantity In Stock:</b> ${ product.quantity }</p>
            <form method="post">
                <table class="buyTable">
                    ${ form.as_table() }
                </table>
            <input class="btn btn-primary buyBtn" type="submit" value="Buy Now">
            </form>
            <br />
            <p><b>Category:</b> <a href='/catalog/index/${product.category.id}'>${ product.category.name }</a></p>
            <p><b>Description:</b> ${product.description}</p>
        </div>
    </div>
</%block>
