## this is the skeleton of all pages on in this app - it defines the basic html tags
<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Jedi &mdash; <%block name="title"></%block></title>

        ## add any site-wide scripts or CSS here; for example, jquery:
        <script src="${ STATIC_URL }homepage/media/jquery-3.3.1.js"></script>
        <script src="${ STATIC_URL }homepage/scripts/tether.js"></script>
        <script src="${ STATIC_URL }homepage/media/bootstrap-4.0.0-alpha.6-dist/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.js"></script>
        <link rel="stylesheet" type="text/css" href="${ STATIC_URL }homepage/media/bootstrap-4.0.0-alpha.6-dist/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="${ STATIC_URL }homepage/styles/tether.css">
        
        ## render the static file links with the same name as this template
        <script src="/django_mako_plus/dmp-common.min.js"></script>
        ${ django_mako_plus.links(self) }


        ##Favicon link
        <link rel="icon" href="${ STATIC_URL }homepage/media/python.png">
    </head>
    <body>
        <div id="maintenance_message" class="alert alert-danger">
        <div id="maintenance_text">
            Hey there, the server is going to be down tomorrow.
        </div>
        </div>
        
        <header>
            <div>
                <nav class="navbar">
                    <ul class="nav nav-pills">
                        <li class="nav-item" >
                            <a class="nav-link" href="/" style="padding-top: 0; padding-bottom: 0;">
                                <img src="${ STATIC_URL }homepage/media/python.png" alt="Site Logo" style="height: 40px; margin: 0;"/>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link ${ 'active' if request.dmp.page == 'index' else '' }" href="/">Home</a>
                        </li>
                        <%block name="site_menu">
                        </%block>
                        
                        %if user.is_authenticated:
                        <li class="nav-item dropdown account">
                        <%
                            u = user.first_name
                        %>
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Hello ${ u }!</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/account/logout/">Logout</a>
                                </div>
                            </li>
                            
                        %else:
                            <li class="nav-item account">
                                <a class="nav-link ${ 'active' if request.dmp.page == 'login' else '' }" href="/account/login/">Login</a>
                            </li>
                        %endif
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <div id="site_left">
                <%block name="site_left">
                    Left Side
                </%block>
            </div>
            <div id="site_center">
                <%block name="site_center">
                    Center
                </%block>
            </div>
            <div id="site_right">
                <%block name="site_right">
                    Right Side
                </%block>
            </div>
        </main>

        <footer>
            <%! from datetime import datetime 
            %>
            &copy; Copyright ${ datetime.now().strftime('%Y') }. All Rights Reserved.
        </footer>

    </body>
</html>
